{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
    <a href="{{ url_for('passwords.add_password') }}"><span class="glyphicon glyphicon-plus"> Add password</span></a>
    {% if current_user.is_authenticated %}
        <div class="passwords">
            {% for password in passwords %}
                <div>
                    <h2><a href="{{ url_for('passwords.edit_password', id=password.id) }}">{{ password.title }}</a>
                        <a href="{{ url_for('passwords.delete_password', id=password.id) }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </h2>
                    {{ password.username|safe }}<br>
                    {{ password.password|safe }}<br>
                    {{ password.website|safe }}<br>
                    {{ password.description|safe }}
                    {{ macros.confirmation_message_delete(password.id, 'passwords.show_passwords', 'passwords.delete_password') }}
                </div>
            {% else %}
                <li><em>Unbelievable. No entries here so far</em></li>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
