{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('passwords.add_password') }}">Add password</a>
    {% endif %}
    <ul class=passwords>
        {% for password in passwords %}
            <li>
                <h2><a href="{{ url_for('passwords.edit_password', id=password.id) }}">{{ password.title }}</a> <a href="{{ url_for('passwords.delete_password', id=password.id) }}">[X]</a></h2>
                {{ password.username|safe }}<br>
                {{ password.password|safe }}<br>
                {{ password.website|safe }}<br>
                {{ password.description|safe }}
            </li>
        {% else %}
            <li><em>Unbelievable. No entries here so far</em></li>
        {% endfor %}
    </ul>
{% endblock %}
