{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_password') }}" method=post class=add-password>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Username:
        <dd><input type=text size=30 name=username>
        <dt>Password:
        <dd><input type=text size=30 name=password>
        <dt>Website:
        <dd><input type=text size=30 name=website>
        <dt>Description:
        <dd><textarea name=description rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=passwords>
  {% for password in passwords %}
    <li>
        <h2>{{ password.title }}</h2>
        {{ password.username|safe }}<br>
        {{ password.password|safe }}<br>
        {{ password.website|safe }}<br>
        {{ password.description|safe }}
    </li>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
